<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Hyblab 2020 Auden'story</title>

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/ospb.css">
        <link rel="stylesheet" href="css/horizontal.css">
        <script type="text/javascript" src="js/modernizr.js"></script>
    </head>
    <body>

        <main>

            <div class="wrap" style="width: 100vw; margin: 0;">

                <div style="position: fixed; z-index: 20; left: 50px">
                    <img src="img/logo/LOGO_2018_1.png" style="width: 200px">
                    <img src="img/logo/120_ANS_QUAD.png" style="left: 50px; top: 100px; width: 100px">
                </div>

                <div class="frame oneperframe" id="oneperframe" style="overflow: hidden; height: 100%;">
                    <ul class="clearfix" style="transform: translateZ(0px) translateX(0px); width: 1500%;">
                        <%- include('slides/start.ejs') -%>

                        <%- include('slides/period1/introduction.ejs') -%>
                        <%- include('slides/period1/testimony1.ejs') -%>
                        <%- include('slides/period1/testimony2.ejs') -%>

                        <%- include('slides/period2/introduction.ejs') -%>
                        <%- include('slides/period2/testimony1.ejs') -%>
                        <%- include('slides/period2/testimony2.ejs') -%>

                        <%- include('slides/period3/introduction.ejs') -%>
                        <%- include('slides/period3/testimony1.ejs') -%>
                        <%- include('slides/period3/testimony2.ejs') -%>
                    </ul>
                </div>

                <div class="scrollbar" style="width:80%; left: 10%; height: 30px; bottom: 40px; position:fixed;">
                    <div class="handle" style="transform: translateZ(0px) translateX(0px); width: 71px;">
                        <div class="mousearea"></div>
                    </div>
                </div>

            </div>

        </main>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/sly.min.js"></script>
        <script type="text/javascript" src="js/horizontal.js"></script>
    </body>
</html>
